

.question {
	
	width: 100%;
	/*background-color: #F2EFCB;*/
	padding:1em;
	margin:0.5em;
	box-sizing: border-box;
	border-radius: 20px;
}

.question p {
	text-align:center;
}

.answer {
	border-radius:10px;
	margin:1em;
	min-height: ;

}
